# StreamCap runtime environment configuration
# PLATFORM: Runtime platform for the application, supports 'desktop' or 'web' modes (default: desktop)
PLATFORM=desktop

# Set timezone
TZ=Asia/Shanghai

# HOST: Web server host address (default: 127.0.0.1, used for local development)
HOST=127.0.0.1

# PORT: Web server port number (default: 6006)
PORT=6006

# PORT: Web video server api port number (default: 6007)
VIDEO_API_PORT=6007

# Set web video storage directory
CUSTOM_VIDEO_ROOT_DIR=

# Set external URL for the video API (example: http://www.example.com)
VIDEO_API_EXTERNAL_URL=